<div id="svg_wrap"></div>
<section>
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div  class="carousel-indicators">
      <button *ngFor="let image of carImages; let i = index"
        type="button" data-bs-target="#carouselExampleIndicators" attr.data-bs-slide-to="{{ i }}"
        [class]="getButtonClass(image)" aria-current="true" aria-label="Slide 1">
      </button>
    </div>
    <div class="carousel-inner">
      <div *ngFor="let carImage of carImages ; index as i; first as firstImage" [ngClass]="{ active: firstImage }" class="carousel-item active" data-bs-interval="2000">
        <img src="{{imgUrl}}{{carImage.imagePath}}" class="d-block w-100" style="height: 350px;" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Geri</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">İleri</span>
    </button>
  </div>
  <div class="table-responsive-md mt-3 mb-0">
    <table class="table table-striped table-hover table-bordered">
      <thead *ngFor="let car of carDetails">
        <tr>
          <th>Marka</th>
          <td>{{ car.brandName }}</td>       
        </tr>
        <tr>
          <th>Renk</th>
          <td>{{ car.colorName }}</td>
        </tr>
        <tr>
          <th>Model</th>
          <td>{{ car.modelYear }}</td>
        </tr>
          <tr>
            <th>Günlük ücret</th>
            <td>{{ car.dailyPrice }} ₺</td>
          </tr>
          <tr>
            <th>Açıklama</th>
            <td>{{ car.description }}</td>
          </tr>
      </thead>
    </table>
  </div>
  <!-- <app-rental [carDetails] = carDetails (parentFunction)="parentFunction($event)"></app-rental> -->
  <div class="table-responsive-md mt-0">
    <table class="table table-striped table-hover table-bordered">
      <thead *ngFor="let car of carDetails">
        <tr>
          <th>Rent Date </th>
          <td><input [(ngModel)]="rentDate" class="form-control" type="text" placeholder="Rent Date"></td>
        </tr>
        <tr>
          <th>Return Date</th>
          <td><input [(ngModel)]="returnDate" class="form-control" type="text" placeholder="Return Date"></td>
        </tr>
        <tr>
          <th>İşlem</th>
          <td><div class="button" id="next" (click)="redirectToPayment(car.carId)" >Kirala</div></td>
        </tr>
      </thead>
    </table>
  </div>
</section>

<section>
  <app-payment [rentDate] = rentDate [returnDate] = returnDate [carId] = carId ></app-payment>
  <div class="button m-4 mt-3" id="prev">&larr; Previous</div>
</section>


<!-- (click)="redirectToPayment(car.carId)" -->
