<div class="container">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Aşağıdaki ürünü silmek istediğinize emin misiniz?</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="colorDeleteForm" >
                    <div class="form-group">
                        <input class="form-control m-2" type="text" id="colorId" formControlName="colorId" DISABLED/>
                        <input class="form-control m-2" type="text" id="colorName" formControlName="colorName" DISABLED/>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-danger" style="min-width: 100px !important;" (click)="deleteColor()">Sil</button>
            </div>
        </div>
    </div>
</div>