<div class="container">
    <div class="row">
        <div class="col-6">
            <div type="text" class="form-floating mb-3">
                <input [(ngModel)]="cardNumber" class="form-control w-75" id="floatingInput" placeholder="Card Number">
                <label for="floatingInput">Card Number</label>
            </div>
            <div type="text" class="form-floating mb-3">
                <input [(ngModel)]="expirationDate" class="form-control w-75" id="floatingPassword"
                    placeholder="Expiration Date">
                <label for="floatingPassword">Expiration Date</label>
            </div>
            <div type="text" class="form-floating mb-3">
                <input [(ngModel)]="cvv" class="form-control w-75" id="floatingPassword" placeholder="Cvv">
                <label for="floatingPassword">Cvv</label>
            </div>
            <div class="mb-3 form-check">
                <input [(ngModel)]="saveStatus" type="checkbox" class="form-check-input" id="saveMyCard">
                <label class="form-check-label" for="exampleCheck1">Save my credit card</label>
            </div>
            <button (click)="checkTheCreditCard()" type="button" class="btn btn-primary">
                Ödemeyi Tamamla <i class="bi bi-check2-circle"></i>
            </button>
        </div>
        <div class="col-6">
            <ul *ngIf="isThereSavedCardForUser == true" style="list-style-type:none;">
                <li class="mb-2">
                    <div class="card" style="width: 22rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{user.firstName}} {{user.lastName}}</h5>
                            <p class="card-text">**** **** **** ****</p>
                            <a class="badge rounded-pill bg-primary p-2" style="text-decoration: none;" (click)="checkTheSavedCreditCard()">Bu Kartı Kullan</a>
                            <a class="badge rounded-pill bg-danger ms-2 p-2" style="text-decoration: none;"(click)="deleteTheSavedCard()">Kartı Sil</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>