<div class="container">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Renk Ekle</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="colorAddForm" >
                    <div class="form-group">
                        <input class="form-control" type="text" id="colorName" formControlName="colorName" placeholder="Renk adı"/>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="addColor()">Ekle</button>
            </div>
        </div>
    </div>
</div>