<main class="form-signin text-center p-5">
    <form [formGroup]="resetPasswordForm">
        <h1 class="h3 mb-3 fw-normal">Şifremi Sıfırla</h1>
        <p class="text-danger fw-2">Sıfırlama linkinin gönderileceği mail adresini girin.</p>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" formControlName="toemail"
                placeholder="name@example.com">
            <label for="floatingInput">E Posta</label>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <button class="w-100 btn btn-lg btn-primary" routerLink="/">Back</button>
            </div>
            <div class="col-6">
                <button class="w-100 btn btn-lg btn-primary" (click)="sendMail()">Gönder</button>
            </div>
        </div>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    </form>
</main>