<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div *ngIf="dataLoaded==true" class="row">
    <div class="col-md-4">
        <select class="form-select" id="brandselect" [(ngModel)]="currentBrandId">
            <option [ngValue]="undefined" disabled selected> Select a Brand
            </option>
            <option *ngFor="let brand of brands" [value]="brand.brandId" [selected]="setCurrentBrand(brand.brandId)"> {{
                brand.brandName }}
            </option>
        </select>
    </div>
    <div class="col-md-4">
        <select class="form-select" id="colorselect" [(ngModel)]="currentColorId">
            <option [ngValue]="undefined" disabled selected> Select a Color
            </option>
            <option *ngFor="let color of colors" [value]="color.colorId" [selected]="setCurrentColor(color.colorId)"> 
                {{ color.colorName }}
            </option>
        </select>
    </div>
    <div class="col-md-1" *ngIf="!currentBrandId && currentColorId">
        <button class="btn btn-primary" routerLink="/car/color/{{ currentColorId }}">
            Filter
        </button>
    </div>
    <div class="col-md-1" *ngIf="!currentColorId && currentBrandId">
        <button class="btn btn-primary" routerLink="/car/brand/{{ currentBrandId }}">
            Filter
        </button>
    </div>
    <div class="col-md-1" *ngIf="!currentColorId && !currentBrandId">
        <button (click)="getCarForBrandAndColor(currentBrandId,currentColorId)" class="btn btn-primary">
            Filter
        </button>
    </div>
    <div class="col-md-1" *ngIf="currentColorId && currentBrandId">
        <button class="btn btn-primary" routerLink="/car/brand/{{ currentBrandId }}/color/{{ currentColorId }}">
            Filter
        </button>
    </div>
    <div class="col-md-1">
        <button class="btn btn-primary" routerLink="/">Clear</button>
    </div>
    <div class="col-md-12">
        <!-- <table class="table">
            <thead>
                <tr>
                    <th scope="col">Car ID</th>
                    <th scope="col">Car Name</th>
                    <th scope="col">Brand Name</th>
                    <th scope="col">Color</th>
                    <th scope="col">Model Year</th>
                    <th scope="col">Daily Price</th>
                    <th scope="col">Daily Price with Vat</th>
                    <th scope="col">Min. Req. Findex Rate</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let car of cars | filterPipe:filterText">
                    <td>{{car.carId}}</td>
                    <td>{{car.carName}}</td>
                    <td>{{car.brandName}}</td>
                    <td>{{car.colorName}}</td>
                    <td>{{car.modelYear}}</td>
                    <td>{{car.dailyPrice |currency}}</td>
                    <td>{{car.dailyPrice |vatAdded:18 | currency}}</td>
                    <td>{{car.minRequiredFindexRate}}</td>
                    <td>{{car.description}}</td>
                    <td>
                        <a class="btn btn-primary m-1" routerLink="/car/car-details/{{car.carId}}">
                            Detay
                        </a>
                    </td>
                </tr>
            </tbody>
        </table> -->
        <div *ngIf="dataLoaded==true" class="row mt-2 card-car-list">
            <div *ngFor="let car of cars | filterPipe:filterText" class="col-md-4 mb-3 pe-0">
                <div class="card">
                    <div class="card-header">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{{imgUrl}}{{car.carImage[0].imagePath}}" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-title">{{car.brandName}}</p>
                        <p class="card-text"><b>Color Name: </b>{{car.colorName}}</p>
                        <p class="card-text"><b>Findex Rate: </b>{{car.minRequiredFindexRate}}</p>
                        <p class="card-text"><b>Description: </b>{{car.description}}</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary float-end" routerLink="/car/car-details/{{car.carId}}">
                            Detay
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>