<main class="form-signin text-center container">
    <form [formGroup]="updateForm">
        <h1 class="h5 mb-3 fw-normal">Update User Informations</h1>
        <div class="form-floating">
            <input formControlName="firstName" type="text" class="form-control" id="floatingInput" placeholder="First Name" />
            <label for="floatingInput"> First Name</label>
        </div>
        <div class="form-floating">
            <input formControlName="lastName" type="text" class="form-control mt-2" id="floatingInput"
                placeholder="Last Name" />
            <label for="floatingInput">Last Name</label>
        </div>
        <div class="form-floating">
            <input formControlName="email" type="email" class="form-control mt-2" id="floatingInput"
                placeholder="name@example.com" />
            <label for="floatingInput">Email </label>
        </div>
        <div class="form-floating">
            <input formControlName="password" type="password" class="form-control mt-2" id="floatingPassword"
                placeholder="Password" />
            <label for="floatingPassword">Password</label>
        </div>
        <div class="checkbox mb-3 mt-3">
            <label>
                <input type="checkbox" value="remember-me" /> Remember Me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" (click)="update()">
            Update
        </button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    </form>
</main>