<table class="table">
    <thead>
        <tr>
            <th scope="col">Car Id</th>
            <th scope="col">Car Name</th>
            <th scope="col">Brand Name</th>
            <th scope="col">Color</th>
            <th scope="col">ModelYear</th>
            <th scope="col">Daily Price</th>
            <th scope="col">Description</th>
            <th scope="col">
                <button routerLink="/car/add" class="btn btn-success">Add New Car</button>
            </th>
        </tr>
    </thead>
    <tbody>
        <div *ngIf="dataLoaded==false" class="spinner-border text-primary m-2" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <tr *ngFor="let car of cars">
            <td>{{car.carId}}</td>
            <td>{{car.carName}}</td>
            <td>{{car.brandName}}</td>
            <td>{{car.colorName}}</td>
            <td>{{car.modelYear}}</td>
            <td>{{car.dailyPrice}}</td>
            <td>{{car.description}}</td>
            <td>
                <button routerLink="/car/update/{{car.carId}}" class="btn btn-primary m-1">Güncele</button>
                <button routerLink="/car/delete/{{car.carId}}" class="btn btn-danger m-1">Sil</button>
            </td>
        </tr>
    </tbody>
</table>